[Unit]
Description=key-mcursord — Keyboard mouse service (NumPad + grid overlay)
Documentation=https://github.com/rruxx/key-mcursor https://gitee.com/rrux/key-mcursor
After=multi-user.target

[Service]
Type=simple
ExecStart=env KEY_MCURSOR_DEBUG_MONITORS=3 /usr/bin/key-mcursor service
RuntimeMaxSec=16
Environment=RUST_LOG=warn
User=root

[Install]
WantedBy=multi-user.target
