[Unit]
Description=kursord — Keyboard mouse service (NumPad mouse + overlay grid)
Documentation=https://github.com/rruxx/kursor https://gitee.com/rrux/kursor
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/kursor service
Environment=RUST_LOG=warn
User=root

[Install]
WantedBy=multi-user.target
